# vue input mobile phone number verification
[vue input mobile phone number verification](https://aiwithcloud.com/2022/09/19/vue_input_mobile_phone_number_verification/)