# Custom annotations implement permission verification
[Custom annotations implement permission verification](https://aiwithcloud.com/2022/09/19/custom_annotations_implement_permission_verification/)