# Django+celery implements mailbox verification
[Django+celery implements mailbox verification](https://aiwithcloud.com/2022/09/19/djangocelery_implements_mailbox_verification/)